@using JulieInventoryMVC.App_Resources;
@{
    ViewBag.Title = "Edit";
}
@{
    ViewBag.Title = GlobalRes.Employee_Create;
}
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/bootstrap-daterangepicker/css/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/icon/icofont/css/icofont.css">
<style>

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .form-control {
        border-left: none !important;
        border-top: none !important;
        border-right: none !important;
    }
</style>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12" style="float:left;">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Employee Edit</h5>
                                </div>
                                <div class="card-block">
                                    <form>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="no" id="no" placeholder="Enter code" />
                                                                <label>Code</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <select name="ItemGroup" id="InvoiceNo" class="form-control">
                                                                    <option value="0">Select Gender</option>
                                                                </select>
                                                                <label>Gender</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter name" />
                                                                <label>Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group form-primary">
                                                                <select name="ItemGroup" id="InvoiceNo" class="form-control">
                                                                    <option value="0">Select Group</option>
                                                                </select>
                                                                <label>A/c Group</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter address" />
                                                                <label>Address 1</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter address" />
                                                                <label>Address 2</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter mobile" />
                                                                <label>Mob. No.</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter mobile" />
                                                                <label>Mob. No.</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter Ph" />
                                                                <label>Ph. Mo.</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter e-mail" />
                                                                <label>E-mail</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter city" />
                                                                <label>City</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="number" name="Cname" id="Cname" placeholder="Enter Pincode" />
                                                                <label>Pincode</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter State" />
                                                                <label>State</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter gst no" />
                                                                <label>GST NO.</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter country" />
                                                                <label>Country</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <select name="ItemGroup" id="InvoiceNo" class="form-control">
                                                                    <option value="0">Select Taxtion</option>
                                                                </select>
                                                                <label>Taxtion</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <select name="ItemGroup" id="InvoiceNo" class="form-control">
                                                                    <option value="0">Select Salary type</option>
                                                                </select>
                                                                <label>Salary Type</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter pan no" />
                                                                <label>Pan No.</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control" type="date" />
                                                                <label>Birth Date</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control" type="date" />
                                                                <label>Anni. Date</label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="checkbox-fade fade-in-primary" style="margin-top:10%">
                                                                <label>
                                                                    <input type="checkbox" id="IsActive" name="IsActive" value="1" class="input-danger">
                                                                    <span class="cr">
                                                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                                    </span>
                                                                    <span>Is Active</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter opening balance" />
                                                                <label>Opening Balance</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <select name="ItemGroup" id="InvoiceNo" class="form-control">
                                                                    <option value="0">Select type</option>
                                                                </select>
                                                                <label>A/c Type</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter account" />
                                                                <label>Account</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter ifsc" />
                                                                <label>IFSC</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter micr" />
                                                                <label>MICR</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter bank name" />
                                                                <label>Bank Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group form-primary">
                                                                <textarea class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter address"></textarea>
                                                                <label>Bank Add.</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter a/c person" />
                                                                <label>A/c Person</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter a/c contact" />
                                                                <label>A/c Contact</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group form-primary">
                                                                <input class="form-control fill" type="text" name="Cname" id="Cname" placeholder="Enter a/c email" />
                                                                <label>A/c Email</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="card-block" style="float:">
                                                    <button class="btn waves-effect waves-light btn-success btn-outline-success" id="SaveBtn">
                                                        <i class="icofont icofont-check-circled"></i>Update
                                                    </button>
                                                    <button class="btn waves-effect waves-light btn-danger btn-outline-danger">
                                                        <i class="icofont icofont-eye-alt"></i>Cancel
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{

    <script type="text/javascript" src="~/Content/files/assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>

