@model JulieInventoryMVC.Models.UserLogin

@{
    ViewBag.Title = "Login";
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="~/Content/files/assets/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/pages/waves/css/waves.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/icon/feather/css/feather.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/icon/icofont/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/icon/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/pages.css">
    <style>

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    </style>
</head>
<body themebg-pattern="theme1">
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="login-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <form action="/Account/Login" class="md-float-material form-material" method="post">
                        <input type="hidden" name="" value="@ViewBag.ReturnUrl">
                        <div class="text-center">
                            <img src="~/Content/files/assets/images/logo.png" alt="logo.png">
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center txt-primary">Sign In</h3>
                                    </div>
                                </div>
                                <p class="text-muted text-center p-b-5">Sign in with your regular account</p>
                                <div class="form-group form-primary">
                                    <input type="text" name="Email" class="form-control" id="Email" required>
                                    <span class="form-bar"></span>
                                    <label>User Name</label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="password" name="Password" id="Password" class="form-control" required>
                                    <span class="form-bar"></span>
                                    <label>Password</label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="number"" name="Otp" id="Otp" class="form-control" placeholder="Enter the otp">
                                    <span class="form-bar"></span>
                                    <label>Otp</label>
                                </div>
                                <div class="row m-t-25 text-left">
                                    <div class="col-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">Remember me</span>
                                            </label>
                                        </div>
                                        @*<div class="forgot-phone text-right float-right">
                                                <a href="#" class="text-right f-w-600"> Forgot Password?</a>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="loginBtn" id="loginBtn">LOGIN</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    <script type="text/javascript" src="~/Content/files/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/files/assets/pages/waves/js/waves.min.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/modernizr/js/css-scrollbars.js"></script>
    <script type="text/javascript" src="~/Content/files/assets/js/common-pages.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            //const button = document.getElementById("loginBtn");
            //button.disabled = true;

            //var otp = $("#Otp").val();
            //if (otp == null && otp == "")
            //{
            //    button.disabled = true;
            //    $("#Otp").attr("required", "true");
            //    $("#loginBtn").attr()
            //}

            if ('@TempData["message"]' == "Password Not") {
                toastr.error('User password not match.');
            }
            else if ('@TempData["message"]' == "User Not") {
                toastr.error('User not match please try again.');
            }
            $("#Otp").on("click",function () {
                var name = $("#Email").val();
            });


     });
    </script>
</body>
</html>


